.nelio-forms-field {

	&#{&}--checkbox-group {
		display: block;
	}
}

.nelio-forms-field__item {

	.editor-styles-wrapper &#{&}--checkbox-group {
		display: flex;
		flex-direction: row;
	}

	&-value {

		.components-checkbox-control__input-container {
			margin-right: 0;
		}
	}

	&-label {

		.components-text-control__input[type="text"] {
			background: transparent;
			border-color: transparent;
			border-radius: 0;
		}
	}
}

// Hack to preview properly the horizontal layout
.block-editor-block-preview__content-iframe .is-style-horizontal-layout {

	.nelio-forms-field__item-label input[type="text"] {
		width: 5em;
	}

	.nelio-forms-field__item-action {
		display: none;
	}
}
